body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfbfb;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
    border: 1px solid;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}

.loader {
    display: none;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.search-nav-container {
    display: flex;
    justify-content: center;
}

.search-bar {
    margin-bottom: 20px;
    margin-left: 35px;
    text-align: center;
}

input, button, select {
    margin: 1px;
    padding: 8px;
}

#search-btn {
    background-color: #30a6d5;
    color: #1f1e1e;
}

#search-btn:hover {
    background-color: #2daddf;
}

#repositoriesList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.pagination {
    margin-left: 35px;
    text-align: center;
}

.repo-container {
    width: 30%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    margin: 15px;
    box-shadow: 0 0 5px #0000001a;
    background-color: #000;
    color: #fff;
}

.repo-container:hover {
    width: 30.0001%;
    box-shadow: 1px 1px 0.5px #616060;
    background-color: white;
    color: #000;
    transition: 0.3s;
}

.repo-container > p {
    margin: 5px 0;
}

.repo-container > p:nth-child(3) {
    background-color: #5cc4ed;
    border: 1px solid #0000ff;
    border-radius: 4px;
    padding: 3px;
}

.repo-container > p:nth-child(3):hover {
    background-color: #87ceeb;
    border: 1px solid #0000ff;
    border-radius: 4px;
    padding: 3px;
    transition: 0.5s;
}

.user-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 40px; */
    margin-bottom: 20px;
    width: 80%;
    margin-left: 12%;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-name {
    font-size: 1.8rem;
    margin-bottom: -1px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 40px;
    border: 2px solid #444;
}

.avatar:hover {
    width: 202px;
    height: 202px;
}

.location-icon {
    width: 22px;
    margin: 1px 5px 0;
}

.user-info .info-text > p:nth-child(0) {
    margin: 5px 0;
    font-size: larger;
    word-wrap: break-word;
}

.user-info .info-text > a {
    display: block;
    margin: 10px 0;
    margin-top: -4px;
    padding: 10px 5px 0 0;
    text-decoration: none;
    cursor: pointer;
}

#error {
    font-weight: bold;
    color: #ff0000;
    text-align: center;
}



@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .search-bar {
        margin-left: 0;
    }

    .search-nav-container {
        flex-direction: column;
    }

    .pagination {
        margin-left: 0;
    }

    .user-info {
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        margin: 0 10px 0 10px;
        text-align: center;
    }

    .avatar {
        margin: 4px 0 5px 0;
    }

    .repo-container {
        width: 100%;
    }
}
